.response-message {
  padding: 15px 20px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  transition: opacity 0.5s ease;
  margin-top: 10px;
}

.response-success {
  background-color: #d4edda; /* light green */
  color: #155724; /* dark green text */
  border: 1px solid #c3e6cb;
}

.response-error {
  background-color: #f8d7da; /* light red */
  color: #721c24; /* dark red text */
  border: 1px solid #f5c6cb;
}




@media (max-width: 576px) {
  #waitlist-foreground {
    width: calc(100% - 5%);
    height: calc(100% - 5%);
  }
}