<section id="About" class="about-section" style="margin-top: 100px;margin-bottom: 40px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">

          <!-- <p style="color:#4C69FF; font-weight: 600; margin-top: 80px; font-size: 19px;">About Dhuroof</p> -->
                    <div class="button-tag-div text-center" style="color:#4C69FF; font-weight: 600; margin-top: 80px; font-size: 19px;">
        About Dhuroof
      </div>
          <h2 style="margin-bottom: 20px; font-size: 48px;">What is Dhuroof</h2>
          <h4 style="font-size: 30px; margin-top: 60px;">Plan smarter, launch stronger, conflict-free</h4>
          <div style="max-width: 622px;"><p style="font-size: 15px;">Dhuroof Dashboard aggregates, ranks, and personalizes market events—delivering businesses a real-time, complete market picture</p></div>
           <h4 style="font-size: 30px; margin-top: 80px;">Cut Costs, Boost Efficiency</h4>
           <div><p style="font-size: 15px; max-width: 607px;">Unlike scattered data or costly market research, our dashboard equips teams with advanced analysis tools to spot trends and act before competitors.</p></div>
          <!-- <p style="font-size: 16px;">Unlike scattered data or costly market research, our dashboard equips teams with advanced analysis tools to spot trends and act before competitors.</p> -->
          <!-- <p style="margin-top: -20px;font-size: 16px;">a real-time, complete market picture</p> -->
          <!-- <p class="About-mission-vision" style="margin-top: 30px;">
            <span style="color:#4C69FF; font-weight: 600;">O Mission:</span> To empower businesses to make more intelligent marketing and strategic decisions by delivering a comprehensive event analytics platform that converts temporal and geographical event data into actionable insights, thereby optimizing scheduling. product launches. and conflict-free campaign planning.</p> 
          <p class="About-mission-vision" style="margin-top: 50px;"><span style="color:#4C69FF; font-weight: 600;">O Vision:</span> To establish Dhuroof as the premier intelligent partner for businesses in the region for "event intelligence.' providing an agile and trustworthy platform that enables proactive anticipation of the temporal event landscape and facilitates context-driven decisions over assumptions.</p>
           -->
      </div>
      <div class="col-lg-6">
        <div class="about-img-div" style="margin-top: 60px;">
            <img src="assets/images/about_image.png" alt="Hero Image"  />
        </div>
      </div>
    </div>
    <div class="row features-box" style="margin-top: -20px;">
      <div class="features-internal-div row">
        <div class="col-md-6" style="display: flex; align-items: center; gap: 20px; flex-wrap: wrap;">
  <div class="pic-responsive">
    <div class="img-sphere globe-sphere" style="display: flex; justify-content: center; align-items: center;">
      <img src="assets/images/fast-smart-event-discovery-icon.png" alt="Hero Image" style="width: 40px;" />
    </div>
  </div>
  <div>
    <h5 style="margin-bottom: 20px;" class="text-pullup">Fast, Smart Event Discovery</h5>
   <div style="max-width: 237px;"><p style="font-size: 12px; margin-bottom: 1px;">Events are grouped and tagged intelligently, making it easy to find what's relevant to you.</p></div>
  <!-- <p style="font-size: 12px; margin-top: 0;">making it easy to find what's relevant to you.</p> -->
  </div>
</div>

         <div class="col-md-6 adding-margin-top" style="display: flex; align-items: center; gap: 20px; flex-wrap: wrap;">
  <div>
     <div class="img-sphere" style="display: flex; justify-content: center; align-items: center;">
      <img src="assets/images/advanced-search-filters-icon.png" alt="Hero Image" style="width: 40px;" />
    </div>
  </div>
  <div>
    <h5 style="margin-bottom: 20px;">Advanced Search Filters</h5>
   <div style="max-width: 252px;"><p style="font-size: 12px; margin-bottom: 1px;">2,300,000+ candidates including 750,000+ developers, 170,000+ designers, and thousands more every day.</p></div>
  <!-- <p style="font-size: 12px; margin-top: 0; margin-bottom: 1px;">developers, 170,000+ designers, and thousands</p>
  <p style="font-size: 12px; margin-top: 0;">more every day.</p> -->
  </div>
</div>
      </div>
    </div>
  </div>
</section>