<section id="Navbar" style="padding: 25px 0px; margin-bottom: -100px; ">
    <div class="container">
        <div class="row" style="display: flex; justify-content: space-between;">
            <div class="col-md-6" style="display: flex;">
                <img src="assets/images/dhuroof_logo.png" alt="Dhuroof Logo" width="40" height="40"
                    style="margin-right: 10px;" />
                <h1 class="mb-0">Dhuroof</h1>
            </div>
            <div class="col-md-6" style="display: flex; justify-content: end; align-items: center;">
                <button id="sign-in-button" class="btn me-3" (click)="onSignInClick()">
                    Sign In
                </button>
                <button class="btn" id="join-waitlist-button" (click)="onJoinWaitlistClick()">
                    Join the Waitlist
                </button>
            </div>
        </div>
    </div>

</section>