<section id="Hero" style="margin-top: 60px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6" style="padding-top: 45px;">
        <div class="row d-flex justify-content-start">
          <div class="button-tag-div text-center" style="width: 230px;">
            Intelligent planning assistance
          </div>
          <h1 class="main-title">From Unforseen</h1>
          <h1 class="main-title">Circumstances to</h1>
          <h1 class="main-title">Masterful Planning</h1>
          <div class="hero-left-p-text" style="max-width: 592px;">
            <p style="margin-top: 10px; font-size: 20px; line-height: 1.9;">
              Dhuroof is an intelligent planning assistance tool that empowers business to navigte the event landscape
              with confidence.
            </p>
          </div>

          <div class="hero-button-div">
            <button class="btn me-4" id="hero-join-waitlist-button" (click)="onJoinWaitlistClick()">
              Join the Waitlist
            </button>
            <button class="btn learn-more-button" style="margin-top: 6px;">
              Learn More <i class="bi bi-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-image">
        <img src="assets/images/hero-image.png" alt="Hero Image" />
      </div>

    </div>

  </div>
</section>