<section id="Features">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="button-tag-div text-center">
        Features Overview
      </div>
    </div>
    <div class="row" style="margin-bottom: 10px; margin-top: 10px;">
      <h1 class="text-center">What Dhuroof Offers</h1>
      <h1 class="text-center">Unlock the power of Dhuroof's features.</h1>
      <p class="text-center" style="font-size: 12px; margin-top: 30px;">Dhuroof gives you powerful set of tools to
        simplify event planning and make smarter strategic deisions</p>
    </div>
    <section class="features-section position-relative">
      <div class="row z-1 position-relative">
        <div class="col-lg-6 need-center" style="display: flex; align-items: center;justify-content: start;">
          <div class="features-img">
            <img src="assets/images/all_in_one_event.png" alt="all-in-one-event" />
          </div>
        </div>
        <div class="col-lg-6 margin-top" style="display: flex; align-items: center;justify-content: center;">
          <div class="d-flex align-items-start gap-3">
            <div class="options-img-sphere2" style="display: flex; justify-content: center; align-items: center;">
                    <img src="assets/images/all-in-one-event-icon.png" alt="Hero Image" style="width: 40px;" />
            </div>
            <!-- Outer div to center the content -->
            <div class="d-flex justify-content-center">
              <!-- Original content -->
              <div>
                <h6 class="options-heading" style="font-size: 28px;">All-In-One Event</h6>
                <div class="mt-2">
                  <p class="options-text mb-0" style="font-size: 16px;">
                    Access essential event information directly within your
                  </p>
                  <p class="options-text" style="font-size: 16px;">
                    calendar, no need to switch tabs or hunt for details.
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-6 need-center margin-top" style="display: flex; align-items: center;justify-content: start;">
          <div class="d-flex align-items-start gap-3">
            <div class="options-img-sphere2" style="display: flex; justify-content: center; align-items: center;">
                    <img src="assets/images/fast-smart-delivery-coloured-icon.png" alt="Hero Image" style="width: 40px;" />
            </div>
            <!-- Outer div to center the content -->
            <div class="d-flex justify-content-center">
              <!-- Original content -->
              <div>
                <h6 class="options-heading" style="font-size: 28px;">Fast, Smart Event Discovery</h6>
                <div class="mt-2">
                  <p class="options-text mb-0" style="font-size: 16px;">
                    Events are grouped and tagged intelligently, making it
                  </p>
                  <p class="options-text" style="font-size: 16px;">
                    easy to find what’s relevant to you.
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-6 margin-top" style="display: flex; align-items: center; justify-content: center;">
          <div class="features-img">
            <img src="assets/images/fast_smart_event_discovery.png" alt="all-in-one-event" />
          </div>
        </div>
      </div>
    </section>
<section class="features-section2 position-relative">
      <div class="row z-1 position-relative">
        <div class="col-lg-6 need-center margin-top"  style="display: flex; align-items: center;justify-content: start;">
          <div class="features-img">
            <img src="assets/images/advanced_search_filter.png" alt="all-in-one-event" />
          </div>
        </div>
        <div class="col-lg-6 margin-top" style="display: flex; align-items: center;justify-content: center;">
          <div class="d-flex align-items-start gap-3">
            <div class="options-img-sphere2" style="display: flex; justify-content: center; align-items: center;">
                    <img src="assets/images/advanced-search-filters-coloured-icons.png" alt="Hero Image" style="width: 40px;" />
            </div>
            <!-- Outer div to center the content -->
            <div class="d-flex justify-content-center">
              <!-- Original content -->
              <div>
                <h6 class="options-heading" style="font-size: 28px;">Advanced Search Filters</h6>
                <div class="mt-2">
                  <p class="options-text mb-0" style="font-size: 16px;">
                    Quickly find what you’re looking for with detailed filters
                  </p>
                  <p class="options-text" style="font-size: 16px;">
                    for date, location, event type, and keywords.
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-6 need-center margin-top" style="display: flex; align-items: center;justify-content: start;">
          <div class="d-flex align-items-start gap-3">
            <div class="options-img-sphere2" style="display: flex; justify-content: center; align-items: center;">
                    <img src="assets/images/personalized-event-recommendation-icon.png" alt="Hero Image" style="width: 40px;" />
            </div>
            <!-- Outer div to center the content -->
            <div class="d-flex justify-content-center">
              <!-- Original content -->
              <div>
                <h6 class="options-heading" style="font-size: 28px;">Personalized Event Recommendations</h6>
                <div class="mt-2">
                  <p class="options-text mb-0" style="font-size: 16px;">
                    Receive suggestions tailored to your industry, goals,
                  </p>
                  <p class="options-text" style="font-size: 16px;">
                    and interests.
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-6 margin-top" style="display: flex; align-items: center; justify-content: center;">
          <div class="features-img">
            <img src="assets/images/personalized_event_recommendation.png" alt="all-in-one-event" />
          </div>
        </div>
      </div>
    </section>

    <!-- <div class="row" style="flex-wrap: wrap-reverse;">
  <div class="col-md-6 d-flex justify-content-center align-items-center">
  <div class="about-img-div">
    <img [src]="selectedImage" alt="changing Image" />
  </div>
</div>


<div class="col-md-6">
  <div class="options-selection">
    <div
      class="d-flex flex-column clickable-option p-2 mb-2 selective-options"
      *ngFor="let option of options; let i = index"
      [class.active-border]="option.expanded"
      (click)="onOptionSelect(i)"
      (mouseenter)="hoveredIndex = i"
      (mouseleave)="hoveredIndex = null"
    >
      <div class="d-flex align-items-center justify-content-between gap-3">
        <div class="d-flex align-items-center gap-3">
          <div class="options-img-sphere"></div>
          <div>
            <h6 class="options-heading">{{ option.title }}</h6>
             <div *ngIf="option.expanded" class="mt-2 ms-5">
        <p class="options-text mb-0" style="margin-left: -45px;">{{ option.desc1 }}</p>
        <p class="options-text" style="margin-left: -45px;">{{ option.desc2 }}</p>
      </div>
          </div>
        </div>
        <i
          *ngIf="hoveredIndex === i && !option.expanded"
          class="bi bi-chevron-down"
        ></i>
      </div>    
    </div>
  </div>
</div>


</div> -->


  </div>
</section>