
.button-tag-div{
    width: 180px;
    background-color: #F7F4FF;
    color: #4C69FF;
    font-size: 14px;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-bottom:10px;
}


.companies-images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 160px;
  /* transition: all 0.3s ease; */
}

/* Hover effect on the container */
.companies-images:hover {
  border: 0.3px solid rgb(219, 218, 218);
  border-radius: 10px;
}

/* Default image styles */
.companies-images img {
  width: 20px;
  height: 30px;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

/* Increase image opacity on hover */
.companies-images:hover img {
  opacity: 1;
}