<section id="Companies" style="margin-bottom: 50px; margin-top: 100px;">
    <div class="container">

      <div class="row d-flex justify-content-center">
        <div class="button-tag-div text-center">
            Trusted by companies
        </div>
      </div>
      <div class="row" style="margin-bottom: 10px; margin-top: 10px;">
          <h1 class="text-center">40,000+ most innovative companies worldwide</h1>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="companies-images">
          <img src="assets/images/apple.jpg" alt="Company Logo"  />
        </div>
        <div class="companies-images">
          <img src="assets/images/apple.jpg" alt="Company Logo"  />
        </div>
        <div class="companies-images">
          <img src="assets/images/apple.jpg" alt="Company Logo"  />
        </div>
        <div class="companies-images">
          <img src="assets/images/apple.jpg" alt="Company Logo"  />
        </div>
        <div class="companies-images">
          <img src="assets/images/apple.jpg" alt="Company Logo"  />
        </div>
        <div class="companies-images">
          <img src="assets/images/apple.jpg" alt="Company Logo"  />
        </div>
        <div class="companies-images">
          <img src="assets/images/apple.jpg" alt="Company Logo"  />
        </div>
      </div>
    </div>

  </section>