<app-navbar
*ngIf="currentSection !== 'waitlist'" 
  [activeLink]="currentSection"
  (sectionChange)="onSectionChange($event)"
></app-navbar>

<!-- Show Contact Us -->
<section *ngIf="currentSection === 'contact'" id="contact">
  <app-contactus></app-contactus>
</section>


<!-- Show Waitlist Only -->
<section *ngIf="currentSection === 'waitlist'" id="waitlist">
  <app-waitlist *ngIf="currentSection === 'waitlist'" (sectionChange)="onSectionChange($event)"></app-waitlist>
</section>

<!-- Show Home/About/Features only when NOT on waitlist or contact -->
<section *ngIf="currentSection !== 'contact' && currentSection !== 'waitlist'" id="home">
  <app-hero (sectionChange)="onSectionChange($event)"></app-hero>
</section>


<section *ngIf="currentSection !== 'contact' && currentSection !== 'waitlist'" id="about">
  <app-about></app-about>
</section>

<section *ngIf="currentSection !== 'contact' && currentSection !== 'waitlist'" id="features">
  <app-features></app-features>
</section>

<!-- Footer & Info always visible except on waitlist -->
<app-info 
  *ngIf="currentSection !== 'waitlist'" 
  (sectionChange)="onSectionChange($event)"
></app-info>

<app-footer 
  (sectionChange)="onSectionChange($event)" 
  *ngIf="currentSection !== 'waitlist'"
></app-footer>
