<section id="first-login" style="height: 95vh;">
    <!-- <div class="container-fluid" style="height: 100%;">
        <div class="row" style="height: 90%;">
            <div class="col-lg-5"
                style="display: flex; flex-direction: column; justify-content: space-evenly; align-items: center;">
                <div style="max-width: 347px;">
                    <p class="main-text-first-login">
                        Set Your Location
                    </p>
                </div>
                <div style="max-width: 347px;">
                    <p class="side-text-first-login">
                        Well suggest unique things to do near you and the best organizers in your area.
                    </p>
                </div>
                <div style="display: flex; flex-direction: column;width: 347px;">
                    <p class="side-text-steps-first-login">
                        Step 1 of 3
                    </p>
                    <div class="loader-out1">
                        <div id="loader-in1">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 right-div-background">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div
                        style="background: #fff; padding: 30px 40px; border-radius: 4px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06); min-width: 400px;">
                        <p style="margin-bottom: 10px; font-size: 14px; color: #666; font-weight: 600;">Write your location</p>

                        <div class="input-group" style="border-bottom: 1px solid #ccc; padding-bottom: 8px;">
                            <input type="text" class="form-control"
                                style="border: none; font-weight: 700; font-size: 18px; padding-left: 0; box-shadow: none;" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row" style="display: flex;justify-content: end; border-top: 1px solid rgb(228, 226, 226);">
            <button class="btn" id="skip-button">
                Skip
            </button>
            <button id="next-button" class="btn me-3">
                Next
            </button>
        </div>
    </div> -->
    <div class="container-fluid" style="height: 100%;">
        <div class="row" style="height: 90%;">
            <div class="col-lg-5"
                style="display: flex; flex-direction: column; justify-content: space-evenly; align-items: center;">
                <div style="max-width: 340px;">
                    <p class="main-text-first-login">
                        Tell Us What You Love
                    </p>
                </div>
                <div style="max-width: 366px;">
                    <p class="side-text-first-login">
                        Customize your event recommendations based on your interests.
                    </p>
                </div>
                <div style="display: flex; flex-direction: column;width: 347px;">
                    <p class="side-text-steps-first-login">
                        Step 2 of 3
                    </p>
                    <div class="loader-out1">
                        <div id="loader-in2">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 right-div-background" style="overflow-y: scroll;">
                <p>Choose at least <span style="color: #4C69FF;font-weight: 600;">three</span> categories</p>
                <div>
                    <div class="category-card">
                        <div>
                            <h5 style="font-size: 28px;">Business</h5>
                        </div>
                        <div><button class="category-tag-button">
                                Finance
                            </button>
                        <button class="category-tag-button">
                                Manufacturing
                            </button>
                        <button class="category-tag-button">
                                Real Estate
                            </button>
                        <button class="category-tag-button">
                                Others
                            </button></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row" style="display: flex;justify-content: end; border-top: 1px solid rgb(228, 226, 226);">
            <button class="btn" id="skip-button">
                Skip
            </button>
            <button id="next-button" class="btn me-3">
                Next
            </button>
        </div>
    </div>
    <!-- <div class="container-fluid" style="height: 100%;">
        <div class="row" style="height: 100%;">
            <div class="col-lg-5"
                style="display: flex; flex-direction: column; justify-content: space-evenly; align-items: center;">
                <div style="max-width: 370px;">
                    <p class="main-text-first-login">
                        Welcome to Dhuroof
                    </p>
                </div>
                <div style="max-width: 366px;">
                    <p class="side-text-first-login" style="font-weight: 700; margin-bottom: 50px;">
                        Ahmed12&#64;gmail.com</p>
                    <p class="side-text-first-login">
                        From art and sport to travel and business, Dhuroof has thousands of local events for whatever
                        your into
                    </p>
                </div>
                <div style="display: flex; flex-direction: column;width: 347px;">
                    <p class="side-text-steps-first-login">
                        Step 3 of 3
                    </p>
                    <div class="loader-out1">
                        <div id="loader-in2">

                        </div>
                    </div>
                    <button id="lets-go-button" class="btn me-3">
                        Lets go
                    </button>
                </div>
            </div>
            <div class="col-lg-7 right-div-background"
                style="display: flex; justify-content: center; align-items: center;">
                <div>
                    <img src="assets/images/first-login-journey.png" id="waitlist-foreground" />
                </div>
            </div>
        </div>
    </div> -->
</section>