@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* adjust as needed */
  display: inline-block;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
/* You can add global styles to this file, and also import other style files */
/* Light theme (default) */

body.light-mode {
  background-color: #fff;
  color: #000;
}

/* Dark theme */
body.dark-mode {
  background-color: #121212;
  color: #fff;
}

body.dark-theme {
  background-color: #121212;
  color: #f5f5f5;
}

/* Optional - adjust other elements */
body.dark-mode input,
body.dark-mode textarea,
body.dark-mode .form-control {
  background-color: #222;
  color: #fff;
  border-color: #444;
}
