.Info-container {
  border-radius: 10px;
  background-color: rgba(236, 239, 250, 0.8); /* ✅ Only background is transparent */
  padding: 40px 60px;
}


#info-join-waitlist-button{
    background-color: #4C69FF;
    border-radius: 30px;
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
    font-size: 19px;
    width: 222px;
    height: 65px;
}

#info-join-waitlist-button:hover{
    background-color: #2d4ce7;
}