<section id="Info" style="margin-top: 80px; margin-bottom: 80px;">
  <div class="container Info-container">
    <div class="row">
      <div class="col-md-6">
        <div style="max-width: 458px;"><h2 style="font-size: 36px; font-weight: 600;">Ready to Revolutionize Your Event Strategy?</h2></div>

        <!-- <h2 style="font-size: 36px; font-weight: 600;">Event Strategy?</h2> -->
        <h5 style="font-weight: 400; margin-top: 20px; font-size: 26px;">
          Select the Dhuroof plan that best fuels your strategic decisions.
        </h5>
        <p style="margin-top: 20px; font-size: 17px;">
          Need any support? contact us
          <span style="color:#4C69FF;">
            <i class="bi bi-envelope me-2"></i>Dhuroof&#64;sa.com
          </span>
        </p>
      </div>

      <!-- ✅ Centered button column -->
      <div class="col-md-6 d-flex justify-content-md-end justify-content-center align-items-center" style="min-height: 200px;">
  <button class="btn" id="info-join-waitlist-button"   (click)="redirectToWaitlist()">
    Join the Waitlist
  </button>
</div>

    </div>
  </div>
</section>
